/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-tabs > li > button {
    border-color: transparent !important;
    border-radius: 10px 10px 0 0 !important;
}
#exTab3 .nav-tabs > li > button.active {
    border-bottom: 1px solid #eee !important;
    /* box-shadow: 0px 0px 29px 0px grey; */
}

#exTab3 .tab-content {
    border-radius: 0 0 10px 10px !important;
    padding : 5px 15px;
    /* box-shadow: 0px 0px 29px 0px grey; */
}

#schedule_box .form-control {
    border-radius: 15px !important;
    border-color: #eee !important;
    background-color: #eee;
}

/* .additional_box .table tr {
    line-height: 35px;
} */

.carousel .slider-wrapper {
    max-height: 60vh;
}
.carousel .thumb.selected, .carousel .thumb:hover {
    border: 2px solid #ffc107 !important;
    border-radius: 10px !important;
}
.carousel .thumb {
    transition: border .15s ease-in;
    display: inline-block;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    border: 0px solid #ffc107 !important;
    padding: 2px;
}
.carousel img {
    border-radius: 5px !important;
}